.react-datepicker {
	border: none;
	border-radius: 0;
	box-shadow: 0 0 10px #999;
	font-family: inherit;
	font-size: 1.3rem;
	font-weight: 300;
}

.react-datepicker__current-month {
	font-size: 1.5rem;
	font-weight: 500;
}

.react-datepicker__day-name,
.react-datepicker__day {
	line-height: 3rem;
	width: 3rem;
}
.react-datepicker__day {
	color: #404041;
}

.react-datepicker__day--today {
	font-weight: 500;
}

.react-datepicker__input-container {
	display: block;
}
.react-datepicker__header {
	background-color: #03A9F4;
	border-radius: 0;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle,
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
	border-bottom-color: #03A9F4;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
	margin-top: -6px;
}
.react-datepicker__day-name,
.react-datepicker__current-month {
	color: #fff;
}
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__day.react-datepicker__day--selected {
	color: #fff;
}