@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.css";

body {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

a.nav-link,
a.nav-link:hover {
	color: rgba(255,255,255, 0.84);
	text-decoration: none;
}