@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/*@import url("//fonts.googleapis.com/icon?family=Material+Icons");*/

body {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

a.nav-link,
a.nav-link:hover {
	color: rgba(255,255,255, 0.84);
	text-decoration: none;
}
.navbar-brand {
	font-weight: 400;
}
.navbar .glyphicon {
	font-size: 1.2rem;
	margin-right: 10px;
}
